@inherits LayoutComponentBase
<div class="page d-flex">
    <div class="navbar sidebar">
        <NavMenu />
    </div>

    <main class="flex-grow-1">
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
}