@page "/sandbox"
@using FallenClient.Conponents
@using FallenClient.Library.Models

<h3>Sandbox for Testing Components</h3>

<div class="container">
    <h4>Test Components</h4>
    <AspectCard Type="Core Concept" />
    <SkillCard Name="Happy Time" Modifier="1"/>
    <SkillContainer OwnedSkills="CharacterSkills" />
</div>


@code {
    private List<OwnedSkill> CharacterSkills { get; set; }= [];

}